<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/driver-register" method="POST">
            <div class="form-group">
              <label for="username">Name</label>
              <input type="text" id="username" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="number">Mobile Number</label>
              <input type="number" id="number" class="form-control" name="number">
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="text" id="age" class="form-control" name="age">
            </div>
            <div class="form-group">
              <label for="truckNumber">Truck Number</label>
              <input type="text" id="truckNumber" class="form-control" name="truckNumber">
            </div>
            <div class="form-group">
              <label for="truckCapacity">Truck Capacity</label>
              <input type="text" id="truckCapacity" class="form-control" name="truckCapacity">
            </div>
            <div class="form-group">
              <label for="transporterName">Transporter Name</label>
              <input type="text" id="transporterName" class="form-control" name="transporterName" >
            </div>
            <div class="form-group">
              <label for="drivingExp">Driving Experience</label>
              <input type="text" id="drivingExp" class="form-control" name="drivingExp">
            </div>
            <h4>3 Interested routes</h4>
            <h5>Route 1</h5>
            <div class="form-group">
              <label for="fromcity1">From(City):</label>
              <input type="text" id="fromcity1" class="form-control" name="fromcity1">
            </div>
            <div class="form-group">
              <label for="fromstate1">From(State):</label>
              <input type="text" id="fromstate1" class="form-control" name="fromstate1">
            </div>
            <div class="form-group">
              <label for="tocity1">To(City):</label>
              <input type="text" id="tocity1" class="form-control" name="tocity1">
            </div>
            <div class="form-group">
              <label for="tostate1">To(State):</label>
              <input type="text" id="tostate1" class="form-control" name="tostate1">
            </div>
            <h5>Route 2</h5>
            <div class="form-group">
              <label for="fromcity2">From(City):</label>
              <input type="text" id="fromcity2" class="form-control" name="fromcity2">
            </div>
            <div class="form-group">
              <label for="fromstate2">From(State):</label>
              <input type="text" id="fromstate2" class="form-control" name="fromstate2">
            </div>
            <div class="form-group">
              <label for="tocity2">To(City):</label>
              <input type="text" id="tocity2" class="form-control" name="tocity2">
            </div>
            <div class="form-group">
              <label for="tostate2">To(State):</label>
              <input type="text" id="tostate2" class="form-control" name="tostate2">
            </div>
            <h5>Route 3</h5>
            <div class="form-group">
              <label for="fromcity3">From(City):</label>
              <input type="text" id="fromcity3" class="form-control" name="fromcity3">
            </div>
            <div class="form-group">
              <label for="fromstate3">From(State):</label>
              <input type="text" id="fromstate3" class="form-control" name="fromstate3">
            </div>
            <div class="form-group">
              <label for="tocity3">To(City):</label>
              <input type="text" id="tocity3" class="form-control" name="tocity3">
            </div>
            <div class="form-group">
              <label for="tostate3">To(State):</label>
              <input type="text" id="tostate3" class="form-control" name="tostate3">
            </div>


            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>


  </div>
</div>

<%- include('partials/header') %>
