<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login by OTP</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/email-verf" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" name="username">
            </div>
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="email">
            </div>

            <button type="submit" class="btn btn-dark">Send OTP</button>
          </form>
          <br/>

          <!-- <form action="/email-OTP">
            <label for="otp">Enter the OPT</label>
            <input type="number" id="otp"class="form-control" name="otp">
            <button type="submit" class="btn btn-dark">Login by OTP</button>
          </form> -->

        </div>
      </div>
    </div>


  </div>
</div>

<%- include('partials/footer') %>
